.app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.content {
  margin: 0 10px 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.taskList {
  flex-grow: 1;
  margin-right: 5px;
}

.selectedTask {
  flex-grow: 1;
  min-width: 50%;
  margin-left: 5px;
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 859px) {
  .content {
    flex-direction: column;
  }

  .taskList {
    order: 1;
    margin-right: 0;
  }

  .selectedTask {
    order: 0;
    margin-left: 0;
  }
}

.newTask {
  display: flex;
  flex-direction: row;
  user-select: none;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin: 5px 0;

  .add {
    background: #eee;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
  }

  .text {
    padding: 0 10px;
    flex-grow: 1;
    line-height: 30px;
    background: #eee;
    color: #2c3e50;
    font-size: 16px;
    border: none;
  }
}

.error {
  display: flex;
  flex-direction: row;
  user-select: none;
  max-width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin: 5px 0;

  .text {
    flex-grow: 1;
    padding: 0 10px;
    background: rgb(255, 200, 200);
    color: rgb(255, 100, 100);
    line-height: 30px;
    font-size: 16px;
  }

  .close {
    background: rgb(255, 200, 200);
    color: rgb(255, 100, 100);
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
  }
}